<div class="rvt-m-top-xxl rvt-display-flex rvt-vertical-center">
  <div class="rvt-m-right-md">
    <label for="main-switcher">Select a shell configuration</label>
    <select data-shell-switcher="base" id="main-switcher">
      <option value="rivet-shell-empty">Choose...</option>
      <option value="rivet-shell-base">Shell base</option>
      <option value="rivet-shell-page-header-only">Shell w/ page header</option>
      <option value="rivet-shell-sidebar">Shell sidebar</option>
      <option value="rivet-shell-sidebar-and-header">Shell w/ sidebar and header</option>
      <option value="rivet-shell-right-sidebar-header">Shell w/ right-hand sidebar and full-width header</option>
    </select>
  </div>
  <a class="rvt-m-top-md rvt-display-inline-block" id="base-link" href="#">Full-page demo</a>
</div>

<div class="rvt-preview-wrapper">
  <iframe src="./rivet-shell-empty/index.html" id="base"></iframe>
</div>