{% macro pageHeader(title, padded, border) %}
<div class="rvt-page-header{% if padded %} rvt-page-header--padded{% endif %}{% if border %} rvt-page-header--border{% endif %}">
  <div class="rvt-page-header__title-block">
    <h1 class="rvt-page-header__title">{{ title }}</h1>
    <a class="rvt-page-header__back-link" href="../">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
        <path fill="currentColor" d="M10.5,15a1,1,0,0,1-.77-.36L4.87,8.8a1.25,1.25,0,0,1,0-1.61L9.73,1.36a1,1,0,0,1,1.54,1.28L6.8,8l4.47,5.36A1,1,0,0,1,10.5,15ZM6.41,8.47h0Zm0-1h0Z"/>
      </svg>
      <span class="rvt-m-left-xxs">Back</span>
    </a>
    <!-- Optionally, you can use breadcrumbs here -->
    <!--
      <nav role="navigation" aria-label="Breadcrumbs">
          <ol class="rvt-breadcrumbs rvt-m-bottom-xs">
              <li><a href="#">Top level</a></li>
              <li><a href="#">Second level</a></li>
          </ol>
      </nav>
      -->
  </div>
  <div class="rvt-page-header__actions">
    <div class="rvt-button-group">
      <button class="rvt-button">Primary action</button>
      <button class="rvt-button rvt-button--plain">Secondary action</button>
      <div class="rvt-dropdown">
        <button class="rvt-button rvt-button--plain" data-dropdown-toggle="dropdown-two" aria-haspopup="true" aria-expanded="false">
          <span class="rvt-sr-only">More actions</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
            <g fill="currentColor">
              <circle cx="8" cy="8" r="2" />
              <circle cx="14" cy="8" r="2" />
              <circle cx="2" cy="8" r="2" />
            </g>
          </svg>
        </button>
        <div class="rvt-dropdown__menu rvt-dropdown__menu--right" id="dropdown-two" aria-hidden="true" role="menu">
          <a href="#">Item one</a>
          <a href="#">Item two</a>
          <a href="#" aria-current="page">Item three</a>
          <a href="#">Item four</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

{% macro emptyState(title, description, variant) %}
<div class="rvt-empty{% if variant %} rvt-empty--{{ variant}}{% endif %}">
  <div class="rvt-empty__container">
    <span class="rvt-empty__title">{{ title }}</span>
    <p class="rvt-empty__description">{{ description }}</p>
    <div class="rvt-empty__actions">
      <a class="rvt-button" href="#">Primary</a>
      <a href="#">Secondary</a>
    </div>
  </div>
</div>
{% endmacro %}