@import "../../node_modules/rivet-uits/sass/core/variables";
@import "./components/rvt-page-header";
@import "./components/rvt-empty-state";

html {
  height: 100%;
}

body,
main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.rvt-header,
.rvt-footer {
  flex-shrink: 0;
}

.rvt-shell-wrapper {
  flex-grow: 1;
  display: flex;
}

.rvt-shell-sidebar {
  background-color: $color-background-subtle;
  border-bottom: 1px solid $color-black--150;
  display: none;

  &--light {
    background-color: $color-background;
  }
}

.rvt-shell-stage {
  flex-grow: 1;
  overflow-y: scroll;

  &--subtle {
    background-color: $color-background-subtle;
  }
}

@media screen and (min-width: map-get($breakpoints, lg)) {
  .rvt-shell-wrapper--reverse {
    flex-direction: row-reverse;

    .rvt-shell-sidebar {
      border-right: none;
      border-left: 1px solid $color-black--150;
    }
  }

  .rvt-shell-sidebar {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 17.5rem; // 280px
    width: 17.5rem; // 280px
    border-right: 1px solid $color-black--150;
    border-bottom: none;
    display: block;
    overflow-y: scroll;
  }
}
