<!DOCTYPE html>
<!--
Copyright (C) 2018 The Trustees of Indiana University
SPDX-License-Identifier: BSD-3-Clause
-->
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://assets.uits.iu.edu/css/rivet/1.1.0/rivet.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/github.min.css">
  <link rel="stylesheet" href="./css/rivet-shell.css">
  <style>
    {% include "demo-styles.css" %}
  </style>
</head>
<body>
  <div class="rvt-container rvt-container--center rvt-container--typeset rvt-m-top-xxl rvt-m-bottom-xxl rvt-typeset">
    <h1>{{ title }}</h1>
    <p class="rvt-m-top-xxs rvt-ts-20">{{ pkg.description }}</p>
    <div class="rvt-display-flex rvt-m-top-lg rvt-m-bottom-xxl">
      <a class="rvt-button rvt-m-right-sm" href="{{ pkg.repository.url }}/archive/master.zip">Download</a>
      <a class="rvt-button rvt-button--secondary" href="{{ pkg.repository.url }}">View on Github</a>
    </div>
    <hr>
    {{- layoutContent | safe -}}
  </div>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/highlight.min.js"></script>
  <script>
    hljs.initHighlightingOnLoad();
  </script>
</body>
</html>