---
title: Rivet shell sidebar
layout: layouts/base-empty.njk
---
{% from "rivet-shell-macros.njk" import emptyState %}
{% from "rivet-shell-macros.njk" import pageHeader %}
{% set
  emptyOptions = {
    title: 'Start here...',
    description: 'Put description text here that helps people understand how to get started using your app.'
  }
%}

{% include "rivet-header.njk" %}
{{ pageHeader('Third level page', 'padded', 'border') }}
<main class="rvt-shell rvt-shell--reverse" id="main-content">
  <div class="rvt-shell__sidebar rvt-p-all-md">
    {% include "rivet-list-nav.njk" %}
  </div>
  <div class="rvt-shell__stage">
    <div class="rvt-p-all-md">
      {{ emptyState(emptyOptions.title, emptyOptions.description) }}
    </div>
  </div>
</main>
{% include "rivet-footer.njk" %}
<script src="https://assets.uits.iu.edu/javascript/rivet/1.1.0/rivet.min.js"></script>
