---
title: Rivet shell sidebar
layout: layouts/base-empty.njk
---
{% from "rivet-shell-macros.njk" import emptyState %}
{% set
  emptyOptions = {
    title: 'Start here...',
    description: 'Put description text here that helps people understand how to get started using your app.'
  }
%}

{% include "rivet-header.njk" %}
<main class="rvt-shell" id="main-content">
  <div class="rvt-shell__sidebar rvt-p-all-md">
    {% include "rivet-list-nav.njk" %}
  </div>
  <div class="rvt-shell__stage" style="display:flex; flex-direction: column;">
    {# {{ emptyState(emptyOptions.title, emptyOptions.description) }} #}
    <div class="rvt-p-lr-xxl">
      {% include "ipsum.njk" %}
    </div>
    {% include "rivet-footer.njk" %}
  </div>
</main>

<script src="https://assets.uits.iu.edu/javascript/rivet/1.1.0/rivet.min.js"></script>
