---
title: Rivet shell base
layout: layouts/base-empty.njk
---
{% from "rivet-shell-macros.njk" import emptyState %}
{% set
  emptyOptions = {
    title: 'Start here...',
    description: 'Put description text here that helps people understand how to get started using your app.'
  }
%}

{% include "rivet-header.njk" %}
<main>
  <div class="rvt-shell" id="main-content">
    <div class="rvt-shell__stage rvt-p-all-md">
      {{ emptyState(emptyOptions.title, emptyOptions.description) }}
    </div>
  </div>
</main>
{% include "rivet-footer.njk" %}
<script src="https://assets.uits.iu.edu/javascript/rivet/1.0.0/rivet.min.js"></script>
