---
title: Rivet shell empty
layout: layouts/base-empty.njk
---
{% include "rivet-header.njk" %}
<main>
  <div class="rvt-shell-wrapper" id="main-content">
    <div class="rvt-shell-stage rvt-p-all-md">

    </div>
  </div>
</main>
{% include "rivet-footer.njk" %}
<script src="https://assets.uits.iu.edu/javascript/rivet/1.0.0/rivet.min.js"></script>

